BRAVE_API_KEY = YOUR_BRAVE_API_KEY

## UNCOMMENT NECESSARY VARIABLES BELOW

# BRAVE_TARGET_QUERIES='["(GenAI | Generative AI | LLM) ( Application | Applied ) (Engineer | Developer)", "(Data) (Scientist | Science)"]'
# BRAVE_ATS_DOMAINS='["jobs.ashbyhq.com", "boards.greenhouse.io", "jobs.lever.co", "jobs.smartrecruiters.com", "careers.workable.com"]'
# BRAVE_USAGE_FILE = "api_usage.json"
# BRAVE_JOB_SEARCH_LOGFILE = "brave-job-search.log"
# BRAVE_MONTHLY_LIMIT = 2000
# BRAVE_RATE_LIMIT = 1.1
# BRAVE_FRESHNESS = "pd"